<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Rentekutt — plattform</title>
    <link rel="stylesheet" href="app.css" />
    <link rel="icon" href="data:," />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
